/* Common CSS use by both light and dark themes */
#wiz-note-content-root {
  min-height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333333;
}

#wiz-note-content-root div.editor-main {
  --editor-bg-color: #ffffff;
  --text-line-height: 28px;
  --text-font-size: 16px;
  --text-font-color: #8e6c53;
  --blockquote-background: inherit;
  --blockquote-border-color: #d8d8d8;
  --blockquote-font-color: #aaa;
  --link-font-color: #448aff;
  --ir-bracket-color: #448aff;
  --bold-font-family: 'Open Sans', 'Noto Sans SC', Menlo, "Ubuntu Mono", Consolas, "Courier New", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  /* live-editor */
  --editor-tag-box-bg-color: #ccc;
  --editor-checkbox-layer-bg-color: #ffffff;
  --editor-border-color: #b9bfc8;
  --editor-table-bg-color: transparent;
  --editor-color: #333333;
  --editor-code-title-bg-color: rgb(220, 223, 227);
  --editor-code-bg-color: #f0f2f4;
  --editor-code-title-color: #121212;
}