body {
  margin: 0;
  font-family: 'Open Sans', 'Noto Sans SC', Menlo, "Ubuntu Mono", Consolas, "Courier New", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #101115;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #333333;
  }
}

div::-webkit-scrollbar {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.snackbar-top-center {
  /* top: -24px !important; */
}
